<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-danger">
            <div class="card-header">
              <h3 class="card-title">Add user</h3>
            </div>
            <form class="form-horizontal">
              <div class="card-body">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Login</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" :class="{'is-invalid': register.validation.login}" placeholder="login" v-model="register.login">
                    <span class="error invalid-feedback">Please enter a login</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Username</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" :class="{'is-invalid': register.validation.name}" placeholder="username" v-model="register.name">
                    <span class="error invalid-feedback">Please enter a name</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" :class="{'is-invalid': register.validation.pass}" placeholder="Password" v-model="register.pass">
                    <span class="error invalid-feedback">Please enter a password</span>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-danger" @click.prevent="registerUser">Register</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Sign in user</h3>
            </div>
            <form class="form-horizontal">
              <div class="card-body">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Login</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" :class="{'is-invalid': auth.validation.login}" placeholder="login" v-model="auth.login">
                    <span class="error invalid-feedback">Please enter an username</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" :class="{'is-invalid': auth.validation.pass}" placeholder="Password" v-model="auth.pass">
                    <span class="error invalid-feedback">Please enter a password</span>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button @click.prevent="authUser" class="btn btn-success">Sign in</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-danger alert-dismissible" v-show="!auth.token.trim()">
            <h5><i class="icon fas fa-ban"></i> Unauthorized!</h5>
            Sign in, please!
          </div>
          <div class="card" v-show="auth.token.trim()">
            <div class="card-header">
              <h3 class="card-title">Signed as {{ auth.login }}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Login</th>
                    <th>Username</th>
                    <th style="width: 150px">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in crud.rows">
                    <td>{{ item.id }}</td>
                    <td>{{ item.login }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                      <button type="button" class="btn btn-primary btn-sm" @click.prevent="editItem(item)"><i class="fa fa-edit"></i></button>
                      <button type="button" class="btn btn-danger btn-sm" @click.prevent="removeItem(item)"><i class="fa fa-user-times"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix" v-if="crud.pagination">
              <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item" :class="{disabled: crud.page == 0}">
                  <a class="page-link" href="#" @click.prevent="(crud.page && crud.page--)">&laquo;</a>
                </li>
                <li class="page-item" :class="{disabled: crud.page == 0}">
                  <a class="page-link" href="#" @click.prevent="crud.page && (crud.page = 0)">1</a>
                </li>
                <li v-show="crud.pagination.middle.length && crud.pagination.middle[0] > 1" class="page-item disabled">
                  <a class="page-link">...</a>
                </li>
                <li
                  v-for="pageNum in crud.pagination.middle"
                  :key="pageNum"
                   :class="{disabled: (crud.page == pageNum)}"
                  class="page-item">
                  <a class="page-link" href="#" @click.prevent="crud.page != pageNum && (crud.page = pageNum)">{{ pageNum + 1 }}</a>
                </li>
                <li v-show="crud.pagination.middle.length && crud.pagination.middle[crud.pagination.middle.length - 1] < crud.pagination.last - 1" class="page-item disabled">
                  <a class="page-link">...</a>
                </li>
                <li class="page-item" :class="{disabled: crud.page == crud.pagination.last}">
                  <a class="page-link" href="#" @click.prevent="crud.page < crud.pagination.last && (crud.page = crud.pagination.last)">{{ crud.pagination.last + 1 }}</a>
                </li>
                <li class="page-item" :class="{disabled: crud.page == crud.pagination.last}">
                  <a class="page-link" href="#" @click.prevent="crud.page < crud.pagination.last && crud.page++">&raquo;</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="toasts-top-right fixed">
      <div class="toast fade" :class="['bg-' + toast.mode, {show: toast.show}]">
        <div class="toast-header">
          <strong class="mr-auto">{{ toast.title }}</strong>
          <button type="button" class="ml-2 mb-1 close" @click="toast.show = false"><span>×</span></button>
        </div>
        <div class="toast-body">{{ toast.body }}</div>
      </div>
    </div>
    <div class="modal fade" :class="{show: modal.mode}" :style="{display: (modal.mode ? 'block' : null)}">
      <div class="modal-dialog">
        <div class="modal-content" v-if="modal.mode == 'loader'">
          <div class="modal-header" style="border-bottom: none;">
            <h4 class="modal-title">Please wait...</h4>
          </div>
        </div>
        <div class="modal-content" v-if="modal.mode == 'crud'">
          <div class="modal-header">
            <h4 class="modal-title">Update user "{{ crud.currentItem.login }}"</h4>
            <button type="button" class="close" @click.prevent="modal.mode = ''"><span>×</span></button>
          </div>
          <div class="modal-body">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <input type="checkbox" v-model="crud.editor.fields.name">
                </span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="new username"
                v-model="crud.editor.name"
                :disabled="!crud.editor.fields.name"
                :class="{'is-invalid': crud.editor.fields.name && !crud.editor.name}">
              <span class="error invalid-feedback">Please enter a name</span>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <input type="checkbox" v-model="crud.editor.fields.pass">
                </span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="new password"
                v-model="crud.editor.pass"
                :disabled="!crud.editor.fields.pass"
                :class="{'is-invalid': crud.editor.fields.pass && !crud.editor.pass}">
              <span class="error invalid-feedback">Please enter a password</span>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-primary" @click.prevent="updateUser">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-backdrop fade" :class="{show: modal.mode}" v-show="modal.mode"></div>
  </section>
</template>

<script>
  import axios from 'axios'
  
  export default {
    data: function() {

      return {
        axios,
        skipUpdate: false,
        toast: {
          mode: 'success',
          show: false,
          title: '',
          body: '',
        },
        register: {
          login: '',
          name: '',
          pass: '',
          validation: {
            login: false,
            name: false,
            pass: false,
          },
        },
        auth: {
          id: 0,
          login: '',
          pass: '',
          token: '',
          validation: {
            login: false,
            pass: false,
          },
        },
        crud: {
          rows: [],
          page: 0,
          pagination: null,
          updateItem: '',
          currentItem: null,
          editor: {
            fields: {name: true, pass: true},
            name: '',
            pass: '',
          },
        },
        modal: {
          mode: '',
        },
      }
    },
    watch: {
      'crud.page': function(current, old) {
        
        if(current != old)
          if(!this.skipUpdate) this.getList();
        
        this.skipUpdate = false;
      },
    },
    methods: {
      checkPage() {
        
        if(this.crud.pagination && this.crud.page > this.crud.pagination.last) {
          
          this.skipUpdate = true;
          this.crud.page  = this.crud.pagination.last;
        }
      },
      showToast: function(title, body, mode) {
        
        this.toast.title  = title;
        this.toast.body = body;
        this.toast.mode = mode;
        this.toast.show = true;
      },
      respProccessor: function(axiosRequest, callback) {
        
        axiosRequest
          .then(response => {
            
            this.modal.mode = '';
            
            if(response.data.success && callback)
              setTimeout(callback.bind(this, response.data.result), 1);
            else if(response.data.success)
              this.showToast('Success', response.data.result, 'success');
            else
              this.showToast('Error', response.data.result, 'danger');
          })
          .catch(except => {
            
            this.modal.mode = '';
            
            let reason  = '';
            
            if(except.code == 'ECONNABORTED')
              reason  = 'Request timeout';
            else
              switch(except.response.status) {
                
                case 500: reason = 'Unknown error'; break;
                case 419: reason = 'Incorrect token'; break;
              }
            
            this.showToast('Error', reason, 'danger');
          })
      },
      resetAlerts: function() {
        
        this.register.validation.login  = false;
        this.register.validation.name = false;
        this.register.validation.pass = false;
        
        this.auth.validation.login  = false;
        this.auth.validation.pass = false;
        
        //this.crud.validation.name = false;
        //this.crud.validation.pass = false;
      },
      afterRegister: function(message) {
        
        this.resetAlerts();
        
        this.register.login = '';
        this.register.name  = '';
        this.register.pass  = '';
        
        this.showToast('Success', message, 'success');
        
        if(this.auth.token) this.getList();
      },
      authenticate: function(response) {
        
        this.resetAlerts();
        
        this.auth.id  = response.id;
        this.auth.token = response.token;
        
        this.register.login = '';
        this.register.pass  = '';
        
        this.showToast('Success', this.auth.login + ' logged in', 'success');
        this.getList();
      },
      registerUser: function() {
        
        this.resetAlerts();
        
        this.register.validation  = {
          login: !this.register.login.trim(),
          name: !this.register.name.trim(),
          pass: !this.register.pass.trim(),
        };
        
        if(!(this.register.validation.login
              || this.register.validation.name
              || this.register.validation.pass)) {
          
          this.modal.mode = 'loader';
          
          this.respProccessor(this.axios.put('/api/user', {login: this.register.login.trim(),
                                                            name: this.register.name.trim(),
                                                            pass: this.register.pass.trim(),}), this.afterRegister);
        }
      },
      authUser: function() {
        
        this.resetAlerts();
        
        this.auth.validation.login  = !this.auth.login.trim();
        this.auth.validation.pass = !this.auth.pass.trim();
        
        if(!(this.auth.validation.login || this.auth.validation.pass)) {
          
          this.modal.mode = 'loader';
        
          this.respProccessor(this.axios.post('/api/login', {login: this.auth.login.trim(), pass: this.auth.pass.trim()}), this.authenticate);
        }
      },
      getList: function() {
        
        this.modal.mode = 'loader';
        
        this.respProccessor(this.axios.post('/api/list', {page: this.crud.page}, {headers: {'Authorization': 'Bearer ' + this.auth.token}}), this.renderList);
      },
      renderList: function(response) {
            
        this.crud.rows  = response.list;
        this.crud.pagination  = response.pagination;
        
        this.checkPage();
        
        this.modal.mode = '';
      },
      afterRemove: function(id) {
        
        if(this.auth.id == id)
          this.auth.token = '';
        else
          this.getList();
      },
      editItem: function(item) {
        
        this.crud.currentItem = item;
        
        this.crud.editor.name = '';
        this.crud.editor.pass = '';
        
        this.modal.mode = 'crud';
      },
      removeItem: function(item) {
        
        this.modal.mode = 'loader';
        
        this.respProccessor(this.axios.delete('/api/user/' + item.id, {headers: {'Authorization': 'Bearer ' + this.auth.token}}), this.afterRemove);
      },
      afterUpdate: function(id) {
        
        if(this.crud.editor.fields.name)
          this.crud.currentItem.name  = this.crud.editor.name;
        
        if(this.crud.editor.fields.pass && this.crud.editor.pass)
          this.crud.currentItem.pass  = this.crud.editor.pass;
      },
      updateUser: function() {
      
        const patch = {};
      
        if(this.crud.editor.fields.name && this.crud.editor.name)
          patch.name  = this.crud.editor.name;
        
        if(this.crud.editor.fields.pass && this.crud.editor.pass)
          patch.password  = this.crud.editor.pass;
        
        if(typeof patch.name !== 'undefined' || typeof patch.password !== 'undefined') {
          
          this.modal.mode = 'loader';
          
          this.respProccessor(this.axios.patch('/api/user/' + this.crud.currentItem.id, patch, {headers: {'Authorization': 'Bearer ' + this.auth.token}}), this.afterUpdate);
        }
      },
    },
  }
</script>